{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>Welcome to the Student Exchange</h1>
    <button class="button" onclick="window.location.href='{{ url_for('listings') }}'">View Listings</button>
    <button class="button" onclick="window.location.href='{{ url_for('search_go') }}'">Search</button>
    {% if 'user_id' in session %}
        <button class="button" onclick="window.location.href='{{ url_for('create_listing') }}'">Create Listing</button>
        <button class="button" onclick="window.location.href='{{ url_for('profile_home') }}'">Profile Home</button>
        <button class="button" onclick="window.location.href='{{ url_for('logout') }}'">Logout</button>
    {% else %}
        <button class="button" onclick="window.location.href='{{ url_for('login') }}'">Login</button>
        <button class="button" onclick="window.location.href='{{ url_for('register') }}'">Register</button>
    {% endif %}
{% endblock %}
